@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --default-font: Poppins, Roboto;
  --default-border: 1px solid black;
  --main-color: rgb(255 135 5);
  --secondry-color: red;
  --links-color: black;
  --default-font-color: rgb(40, 37, 37);
  --transition-hambuerger: opacity 550ms ease-in-out, width 220ms ease-in-out;
}

body {
  font-family: Poppins, Roboto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.navBox {
  width: 100%;
  margin-top: 16px;
  padding: 0.2rem 0rem 0rem 0rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rightnavlist > .list-items {
  display: flex;
  gap: 45px;
}

.list-items :hover {
  color: rgb(25, 107, 166);
  cursor: pointer;
}

.rightnavlist > .list-items li {
  list-style: none;
  font-size: 1.1rem;
}

.rightnavlist a {
  --links-color: rgb(84, 82, 82);
  text-decoration: none;
  color: var(--links-color);
}

.logoBox > a {
  text-decoration: none;
  color: var(--links-color);
  font-size: 1.2rem;
  color: rgb(255 135 5);
}

.logoBox a span {
  color: rgb(5 55 250);
}

.rightbx22 {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.rightbx22 .btn-search {
  outline: none;
  border: none;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.srchBar {
  padding: 2px;
  width: 140px;
  height: 38px;
  border-radius: 8px;
  border: 2px solid #dbd9d9;
  outline: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 2px;
}

.srchBar > input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 0px 6px 0px 6px;
  color: #b1adad;
  font-size: 0.84rem;
}

.srchBar > input::placeholder {
  color: #b1adad;
  font-size: 0.8rem;
  text-align: left;
}

.srchBar > svg {
  color: #b1adad;
  cursor: pointer;
}

.cartBox {
  width: 62px;
  height: 38px;
  border: 2px solid #dbd9d9;
  border-radius: 8px;
}

.bag-container {
  display: flex;
  gap: 2px;
  justify-content: center;
  padding-top: 5px;
  color: #c9c6c6;
}

.userBox button {
  transition: 0.7s;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  font-size: 0.582rem;
  font-weight: bolder;
  background-color: rgba(141, 203, 167, 0.479);
  border-radius: 50%;
  border: none;
  color: rgb(12, 114, 20);
  cursor: pointer;
}

.droplist {
    display: none;
    font-size: 0.82rem;
    list-style: none;
    position: absolute;
    padding-left: 15px;
    width: 100px;
    height: 58px;
  }
  
  .list-items li:nth-child(1):hover .droplist {
    list-style: none;
    display: block;
    color: #eee;
    margin-top: -1px;
  }
  
  .ham-Menu {
    background-color: rgb(248, 243, 243);
    border-radius: 10px;
    width: 30px;
    height: 25px;
    margin-right: 8px;
    border: 1px solid #ccc;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: var(--transition-hambuerger);
  }
  
  .bars {
    border-radius: 2px;
    width: 22px;
    height: 2px;
    background-color: #b1adad;
    transition: var(--transition-hambuerger);
  }
  
  .mobile-menu {
    display: none;
  }
  
  .innermenu {
    display: none;
    color: white;
    width: 40vw;
    height: 70vh;
    background-color: var(--default-font-color);
    position: absolute;
    top: 10px;
    right: 5px;
    border: var(--default-border);
  }
  
  .bars:hover,
  .ham-Menu:hover {
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: 50s;
  }
  
  .mobile-menu:hover .innermenu {
    display: block;
    color: white;
    width: 30vw;
    height: 40vh;
    text-align: right;
    padding: 5px 5px 0px 0px;
    font-size: 0.65rem;
    border-radius: 2px;
    background-color: var(--default-font-color);
    position: absolute;
    top: 10px;
    right: 5px;
    border: var(--default-border);
    z-index: 2;
  }
  