@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --default-font: Poppins, Roboto;
  --default-border: 1px solid black;
  --main-color: rgb(255 135 5);
  --secondry-color: red;
  --links-color: black;
  --default-font-color: rgb(40, 37, 37);
  --transition-hambuerger: opacity 550ms ease-in-out, width 220ms ease-in-out;
}

body {
  font-family: Poppins, Roboto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.hero-cart {
  width: 100%;
  height: 623px;
  display: flex;
  justify-content: center;
}

.left-div-sec {
  width: 50%;
  height: 100%;
  padding: 10px 40px 0px 40px;
}

.left-div-sec>span {
  font-size: 1rem;
  font-weight: 450;
  color: silver;
  position: relative;
  top: 12px;
}

.left-div-sec h1 {
  transform: translateY(38px);
  font-size: 1.5rem;
  font-weight: 520;
}

.usr-inpt-mail {
  transform: translateY(20px);
}

.usr-inpt-mail>h2 {
  padding: 9px 0px;
  font-weight: 520;
}

.usr-inpt-mail>input {
  outline: none;
  width: 100%;
  height: 52px;
  padding: 0px 5px;
  text-align: left;
  border-radius: 10px;
  border: 1px solid #bebbbb;
  background-color: #f5f5f5;
}

.usr-inpt-mail>label {
  position: relative;
  bottom: 3px;
}

.pymt-bx {
  padding: 10px 20px 0px 20px;
  border: 1px solid #000;
  width: auto;
  height: 370px;
  transform: translateY(48px);
  border-radius: 10px;
}

.tpe-pay {
  display: flex;
  width: 100%;
  height: auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.tpe-pay>.pyBx {
  width: 120px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;
  border-radius: 10px;
  border: 1px solid #fc9d39;
  color: #fc9d39;
  font-size: 1.1rem;
  font-weight: 420;
}

/* .pyBx>img {

  color: #e99132;

} */

/* .pyBxLast{
} */
.lstseCtc {
  width: 100%;
  height: auto;
  padding-top: 18px;
  display: grid;
  column-gap: 22px;
  row-gap: 15px;
  grid-template-columns: 50% 45%;
  grid-template-rows: 68px 68px 68px;
}

.lstseCtc input {
  width: 100%;
  height: auto;
  text-align: left;
  padding: 0px 10px;
  height: 52px;
  border-radius: 10px;
  background-color: #f5f5f5;
  border: 1px solid #a29f9f;
  outline: none;
}

.inBox1 {
  grid-column-start: 1;
  grid-column-end: 3;
}


input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-internal-autofill-selected {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.right-div-sec {
  width: 50%;
  height: auto;
  background-color: rgb(236, 236, 236);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.right-div-sec>h1 {
  text-align: center;
  margin: 40px 0px;
}

.cntnt {
  width: 430px;
  height: auto;
}

.right-div-sec .sec-frst {
  width: 100%;
  height: 410px;
  border-radius: 18px;
}

.right-div-sec .right-div-inner-card {
  width: 100%;
  height: 270px;
  padding: 20px 0px 0px 0px;
  border-radius: 16px;
  background-color: white;
  border: 1px solid #d1cfcf;
}

.right-div-sec .right-div-inner-card p {
  font-size: 0.820rem;
  transform: translateX(30px);
}

.cupn-redeme {
  display: flex;
  gap: 20px;
  padding: 6px 0px 22px 0px;
  justify-content: center;
}

.cupn-redeme input {
  text-align: left;
  padding: 0px 6px 0px 8px;
  width: 240px;
  height: 52px;
  border-radius: 10px;
  border: 1px solid #d1cfcf;
  outline: none;
}

.cupn-redeme input::placeholder {
  color: #bababa;
  font-size: 0.800rem;
}

.cupn-redeme button {
  background-color: #2378ff;
  color: white;
  text-align: center;
  padding: 0px 6px;
  width: 120px;
  height: 52px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cupn-redeme button:hover {
  background-color: #0c65f4;

}

.pymnt-sec {
  display: flex;
  justify-content: center;
}

.pymnt-sec .pscf td:first-child {
  padding-bottom: 12px;
  padding-right: 170px;
  color: #9e9c9c;
  font-weight: 480;
  font-size: 0.920rem;
}

.pymnt-sec .pscf td:nth-child(2) {
  font-size: 0.900rem;
  text-align: right;
  color: #9e9c9c;
  font-weight: 480;
  padding-bottom: 12px;
}

.total-priceSec>.Pcd1 {
  font-weight: 480
}

.total-priceSec>.Pcd2 {
  color: black;
  font-weight: 550;
  font-size: 0.995rem;
}

.lastsecpay {
  padding-top: 22px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.lastsecpay button {
  width: 100%;
  height: 60px;
  color: white;
  background-color: #fc9d39;
  font-size: 1rem;
  font-weight: 550;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.lastsecpay button:hover {
  background-color: #e99132;
  background: linear-gradient(#fe9f37 top white);
}

.lastsecpay button:active {
  background-color: #ee7d04;
}

.lastsecpay .pay-prtnsr {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}