	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	.full-page {
		overflow: auto;
		height: 100%;
		width: 100%;
		background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(back.jpg);
		background-position: center;
		background-size: cover;
		position: absolute;
	}

	.navbar {
		display: flex;
		align-items: center;
		padding: 20px;
		padding-left: 50px;
		padding-right: 30px;
		padding-top: 60px;
	}

	nav {
		flex: 1;
		text-align: right;
	}

	nav ul {
		display: inline-block;
		list-style: none;
	}

	nav ul li {
		display: inline-block;
		margin-right: 70px;
	}

	nav ul li a {
		text-decoration: none;
		font-size: 20px;
		color: white;
		font-family: sans-serif;
	}
	nav ul li button {
		font-size: 20px;
		color: white;
		outline: none;
		border: none;
		background: transparent;
		cursor: pointer;
		font-family: sans-serif;
	}
	nav ul li button:hover {
	color: rgb(18, 143, 143);
	}
	nav ul li a:hover {
		color: aqua;
	}

	a {
		text-decoration: none;
		color: palevioletred;
		font-size: 31px;
	}

	#login-form {
		display: none;

	}

	.form-box .close {

		border: none;
		position: absolute;
		top: 20px;
		right: 10px;
		width: 18px;
		height: 18px;
		/*background: #888;*/
		color: #eee;
		text-align: center;
		line-height: 15px;
		border-radius: 15px;
		cursor: pointer;
	}

	.form-box {

		width: 380px;
		height: 480px;
		position: relative;
		margin: 2% auto;
		background: rgba(153, 114, 114, 0.3);
		padding: 10px;
		overflow: hidden;
	}

	.button-box {
		color: black;
		width: 220px;
		margin: 35px auto;
		position: relative;
		box-shadow: 0 0 20px 9px #ff61241f;
		border-radius: 30px;
		font-weight: bold;
	}

	.toggle-btn {
		font-weight: bold;
		padding: 10px 30px;
		cursor: pointer;
		background: transparent;
		border: 0;
		outline: none;
		position: relative;
	}

	#btn {

		top: 0;
		left: 0;
		position: absolute;
		width: 110px;
		height: 100%;
		background: #F3C693;
		border-radius: 30px;
		transition: .5s;
	}

	.input-group-login {

		top: 150px;
		position: absolute;
		width: 280px;
		transition: .5s;
	}

	.input-group-register {

		top: 120px;
		position: absolute;
		width: 280px;
		transition: .5s;
	}

	.input-field {

		width: 100%;
		padding: 10px 0;
		margin: 5px 0;
		border-left: 0;
		border-top: 0;
		border-right: 0;
		border-bottom: 1px solid rgb(226, 220, 220);
		outline: none;
		background: transparent;

	}

	.submit-btn {
		font-weight: bold;
		width: 85%;
		padding: 10px 30px;
		cursor: pointer;
		display: block;
		margin: auto;
		background: #F3C693;
		border: 0;
		outline: none;
		border-radius: 30px;
	}

	.check-box {
		margin: 30px 10px 34px 0;
	}

	span {
		color: rgb(235, 235, 235);
		font-size: 12px;
		bottom: 68px;
		position: absolute;
	}

	#login {
		left: 50px;
	}

	#login input {
		color: white;
		font-size: 15;
	}

	#register {
		left: 450px;
	}

	#register input {
		color: white;
		font-size: 15;
	}

	::-webkit-input-placeholder {

		color: black;

	}

	h2 {
		width: 450px;
		padding: 80px;
		color: #eee;
		font-size: 20px;
	}

	.texter {

		text-align: center;
		overflow: hidden;
		margin-top: 10px;
		padding: 30px;
		font-size: 20px;
		color: #888;

	}

	.iconmenu {


		text-align: center;

		margin-top: -16px;

	}

	.ic1 {


		width: 55px;

		padding: 9px;
	}

	.ic2 {

		width: 55px;
		padding: 9px;

	}

	.ic3 {


		width: 55px;

		padding: 9px;
	}


	.ic1,.ic2,.ic3:hover {


		cursor: pointer;


		padding: 5px;
	}

	.ic2:hover {

		cursor: pointer;
		padding: 5px;

	}

	.ic3:hover {

		cursor: pointer;
		padding: 5px;
	}

	.list {

		display: none;
		position: absolute;
		background-color: black;
		padding-left: 15px;
		width: 120px;
		height: 78px;
		border-radius: 10px;

	}

	.conb:hover .list {
		list-style: none;

		display: block;
		color: #eee;
		position: absolute;
		margin-top: -1px;
	}

	.list ul {

		margin-right: 110px;
		width: 40px;
	}


	.list ul li a {
		font-size: 17px;
	}