@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --default-font: Poppins, Roboto;
    --default-border: 1px solid black;
    --main-color: green;
    --secondry-color: red;
}

body {
    font-family: Poppins, Roboto;
    
}

.navBox {
    width: 100%;
    padding: 6px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.rightnavlist>.list-items {
    display: flex;
    gap: 35px;
}

.rightnavlist>.list-items>li {
    list-style: none;
    font-size: 1.2rem;
}
.rightnavlist a{
    text-decoration: none;
    color: black;
}

.logoBox>a>img {
    width: 80px;
    height: 70px;
    cursor: pointer;
}

.list-items :hover {
    color: rgb(11, 119, 97);
    cursor: pointer;
}

.userBox>button {
    margin-right: 8px;
    width: 80px;
    height: 40px;
    font-size: 0.782rem;
    font-weight: bolder;
    background-color: rgba(141, 203, 167, 0.479);
    border-radius: 16px;
    border: none;
    color: rgb(12, 114, 20);
    cursor: pointer;
}

.hero {
    box-sizing: border-box;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.left-div {
    padding: 10px;
    width: 42vw;
    height: 480px;
}

.left-div>h1 {
    font-size: 2.25rem;
    line-height: 58px;
    color: rgb(40, 37, 37);
}

.left-div>p {
    margin: 20px 0px 15px 0px;
    text-align: left;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 25px;
    color: rgb(33, 70, 55);
    
}

.left-div button {
    width: 190px;
    height: 55px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #08a8ff;
    font-size: 0.813rem;
    cursor: pointer;
    
}
.left-div button:active{
    background-color: #1cae85;
}
.Right-div {
    width: 42vw;
    height: 480px;
    object-fit: cover;
}

.Right-div>img {
    width: 100%;
    height: 50vh;
    border: none;
}

.droplist{
    display: none;
    font-size: 0.820rem;
    list-style: none;
    position: absolute;
    padding-left: 15px;
    width: 100px;
    height: 58px;
}
.list-items li:nth-child(1):hover .droplist {
    list-style: none;
    display: block;
    color: #eee;
    margin-top: -1px;
}


@media all and (max-width:768px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .left-div {
        width: 47vw;
         padding: 12px;
    }

    .left-div>h1 {
        font-size: 2.20rem;
        line-height: 44px;
        color: rgb(40, 37, 37);
    }

    .left-div>p {
        margin: 35px 0px 55px 0px;
        text-align: left;
        font-weight: bold;
        font-size: 0.866rem;
        line-height: 22px;
        color: rgb(33, 70, 55);

    }

    .Right-div {
        object-fit: cover;
        width: 47vw;
    }

    .Right-div>img {
        width: 100%;
        height: 50vh;
        border: none;
    }
    .rightnavlist>.list-items>li {
        list-style: none;
        font-size: 1.1rem;
    }

}





@media all and (max-width:690px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .left-div>h1 {

        font-size: 2.00rem;
    }

    .rightnavlist>.list-items {
        display: flex;
        gap: 25px;
    }

    .rightnavlist>.list-items>li {
  
        font-size: 1.1rem;
    }

    .logoBox>a>img {
        width: 66px;
        height: 56px;
    }


}



@media all and (max-width:604px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
.hero{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width: 100vw;
    height: 100vh;
    gap: 10px;
}


.left-div {
    width: 70vw;
    text-align: center;
    height: auto;
}

.left-div>h1 {
    font-size: 1.4rem;
    line-height: 40px;
    color: rgb(40, 37, 37);
}

.left-div>p {
    margin: 30px 0px 40px 0px;
    text-align:center;
    font-weight: bold;
    font-size: 0.835rem;
    line-height: 22px;
    color: rgb(33, 70, 55);

}

.Right-div {
    object-fit: cover;
    width: 72vw;
    height: 55vh;
}

.Right-div>img {
    width: 100%;
    height: 45vh;
    border: none;
}
.left-div button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #08a8ff;
    font-size: 0.730rem;
    cursor: pointer;

}

.navBox {
    padding: 2px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.rightnavlist>.list-items {
    display: flex;
    gap: 15px;
}

.rightnavlist>.list-items>li {
    list-style: none;
    font-size: 0.800rem;
}

.logoBox>a>img {
    width: 45px;
    height: 40px;
    cursor: pointer;
}


.userBox>button {
    margin-right: 4px;
    width: 45px;
    height: 36px;
    font-size: 0.645rem;
    font-weight: bolder;
    background-color: rgba(141, 203, 167, 0.479);
    border-radius: 16px;
    border: none;
    color: rgb(12, 114, 20);
    cursor: pointer;
    transition: all 250ms ease-in-out;
}
.left-div button {
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #08a8ff;
    font-size: 0.652rem;
    cursor: pointer;

}

}


@media all and (max-width:415px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .list-items>li{
        display: none;
    }
    .left-div{
        width: 100%;
        height: auto;

    }
    .Right-div{
        width: 100%;
        height: 40vh;
    }
    .userBox>button {
        width: 65px;
        height: 32px;
        font-size: 0.645rem;
        font-weight: bolder;
        background-color: rgba(141, 203, 167, 0.479);
        border-radius: 12px;
        border: none;
        color: rgb(12, 114, 20);
        cursor: pointer;
        transition: all 310ms ease-in-out;
    }
    .left-div button {
        width: 120px;
        height: 40px;
        border: none;
        border-radius: 10px;
        color: white;
        background-color: #08a8ff;
        font-size: 0.650rem;
        cursor: pointer;
    
}
}


