@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-sec{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(picback.jpg);
    background-size: cover;
    background-position: left;

}
.fomr-container >form header {
    text-align: center;
    font-size: 1.2rem;
    color: #c6a778;
}
.fomr-container{
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 80vh;
    border: 1px solid #827d7d;
    backdrop-filter: blur(3.5px);
}
.input-box{
    display: flex;
    flex-direction: column;
    text-align: right;
    position: relative;
    width: 100%;
    margin-top: 85px;
    gap: 3px;
}
.input-box > input{
    background: transparent;
    border: none;
    outline:none;
    border-bottom: 1px solid rgb(213, 208, 208);
    height: 3vh;
    width: 24vw;
    font-size: 0.854rem;
    padding: 3px 5px 3px 5px;
    color: white;
}
.input-box > input::placeholder{
    font-size: 0.750rem;
    color:#efc07a;
}

.all-labes{
    font-size: 0.859rem;
    position:relative;
    top: 20px;
    border: none;
    outline: none;
}
.fomr-container >form button{
    width: 24vw;
    height: 6vh;
    padding: 6px;
    border: none;
    font-size: 2vh;
    border-radius: 6px;
    cursor: pointer;
    background: linear-gradient(to top,#2f2e2d,#efc07a);
    margin-top: 70px;
}
.fomr-container >form button:hover{

    background: linear-gradient(to top,#3c3531,#dba85c);
}
.fomr-container >form button:active{

    background: linear-gradient(to top,#3c3531,#bd914d);
}
.user-frgt{
    display: flex;
    justify-content: flex-end;
    margin: 1px 0px 0px 0px;
    font-size: 0.780rem;
}
.sign_with-othrs{
    color: #e3ddd5;
    margin-top: 25px;
    font-size: 0.640rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
form a{
    color: #c6a778;
    text-decoration: none;
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-internal-autofill-selected {
transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}